<div class="Column">
  <p>專區</p>
  <a (click)="changeToDetailType(detailType.ZoneDetail)">
    <div class="item">
      <img src="assets/img/specialLL.png" style="width:100%;">
      <span class="intro">LoveLive</span>
    </div>
  </a>
  <a (click)="changeToDetailType(detailType.ZoneDetail)">
    <div class="item interval">
      <img src="assets/img/specialSAO.png" style="width:100%;">
      <span class="intro">刀劍神域<br />Sword Art Online</span>
    </div>
  </a>
  <a (click)="changeToDetailType(detailType.ZoneMore)"><span style="text-align:right;float:right;"
      class="moreHover">more...</span></a>
</div>
