<div class="left">

  <app-zone></app-zone>

  <div class="Column interval">
    <p>會員優惠</p>

    <span style="text-align:right;float:right;" class="moreHover">more...</span>
  </div>
  <div class="Column interval">
  </div>
</div>
<div class="center">


  <div class="RWDsearchField">
    <img src="assets/img/search.png" style="width:15px;"><input type="text" name="search" class="search">
    <select>
      <option>中文書</option>
      <option>日文書</option>
      <option>畫冊</option>
      <option>DVD</option>
      <option>CD</option>
      <option>模型</option>
      <option>海報</option>
      <option>其他周邊</option>
    </select>
    <input type="button" value="搜尋">
  </div>

  <app-new></app-new>
  <app-coming-tv-ori-book></app-coming-tv-ori-book>
  <app-coming-tv-trad-book></app-coming-tv-trad-book>

</div>
<div class="right">
  <app-onsale></app-onsale>
  <app-popular></app-popular>
  <app-keyword></app-keyword>
</div>
