<div class="left">
  <div class="Column">
    <p>中文書</p>
    <ul class="sort">
      <li>依類型分類<span class="dottedEffect"> ●</span>
        <ul class="type">
          <li>小說<span class="dottedEffect"> ●</span></li>
          <li>漫畫<span class="dottedEffect"> ●</span></li>
        </ul>
      </li>
      <li style="color:#00F;font-weight:bold;">依題材分類<span class="dottedEffect"> ●</span>
        <ul class="type">
          <li>武俠<span class="dottedEffect"> ●</span></li>
          <li>推理<span class="dottedEffect"> ●</span></li>
          <li>歷史<span class="dottedEffect"> ●</span></li>
          <li>言情<span class="dottedEffect"> ●</span></li>
          <li>科幻<span class="dottedEffect"> ●</span></li>
          <li style="color:#00F;font-weight:bold;">奇幻<span class="dottedEffect"> ●</span></li>
          <li>玄幻<span class="dottedEffect"> ●</span></li>
          <li>冒險<span class="dottedEffect"> ●</span></li>
          <li>恐怖<span class="dottedEffect"> ●</span></li>
          <li>架空<span class="dottedEffect"> ●</span></li>
          <li>網遊<span class="dottedEffect"> ●</span></li>
          <li>修真<span class="dottedEffect"> ●</span></li>
          <li>穿越<span class="dottedEffect"> ●</span></li>
          <li>教育<span class="dottedEffect"> ●</span></li>
          <li>色情<span class="dottedEffect"> ●</span></li>
          <li>電影<span class="dottedEffect"> ●</span></li>
          <li>百合<span class="dottedEffect"> ●</span></li>
          <li>耽美<span class="dottedEffect"> ●</span></li>
          <li>軍事<span class="dottedEffect"> ●</span></li>
          <li>政治<span class="dottedEffect"> ●</span></li>
          <li>其他<span class="dottedEffect"> ●</span></li>
        </ul>
      </li>
      <li>依出版社分類<span class="dottedEffect"> ●</span>
        <ul class="type">
          <li>台灣角川<span class="dottedEffect"> ●</span></li>
          <li>尖端<span class="dottedEffect"> ●</span></li>
          <li>東立<span class="dottedEffect"> ●</span></li>
          <li>青文<span class="dottedEffect"> ●</span></li>
          <li>奇幻基地<span class="dottedEffect"> ●</span></li>
          <li>銘顯文化<span class="dottedEffect"> ●</span></li>
          <li>大賣文化<span class="dottedEffect"> ●</span></li>
          <li>傑克魔豆<span class="dottedEffect"> ●</span></li>
          <li>三采文化<span class="dottedEffect"> ●</span></li>
          <li>四季國際<span class="dottedEffect"> ●</span></li>
          <li>台灣東販<span class="dottedEffect"> ●</span></li>
          <li>愛米粒<span class="dottedEffect"> ●</span></li>
          <li>飛魚創意<span class="dottedEffect"> ●</span></li>
          <li>鮮文學網<span class="dottedEffect"> ●</span></li>
          <li>春天<span class="dottedEffect"> ●</span></li>
          <li>天使<span class="dottedEffect"> ●</span></li>
          <li>威向文化<span class="dottedEffect"> ●</span></li>
          <li>綠林寮<span class="dottedEffect"> ●</span></li>
          <li>大翼文化<span class="dottedEffect"> ●</span></li>
          <li>三日月書版<span class="dottedEffect"> ●</span></li>
          <li>麥田<span class="dottedEffect"> ●</span></li>
          <li>知翎<span class="dottedEffect"> ●</span></li>
          <li>普天出版家族<span class="dottedEffect"> ●</span></li>
          <li>蓋亞文化<span class="dottedEffect"> ●</span></li>
          <li>其他<span class="dottedEffect"> ●</span></li>
        </ul>
      </li>
      <li>其他分類<span class="dottedEffect"> ●</span></li>
    </ul>
  </div>
</div>
