<div class="centerColumn">
  <div class="title">
    <div class="subject">
      <p>新番中文書</p>
    </div>
    <div class="more moreHover">
      <a (click)="changeToDetailType(detailType.ComingTVTradBook)">
        <span>more...</span>
      </a>
    </div>
  </div>
  <div class="cot">
    <div class="centerItem">
      <img src="assets/img/kuzuC.jpg"><br />
      <span class="intro">人渣的本願 06</span>
    </div>
    <div class="centerItem">
      <img src="assets/img/kataC.jpg"><br />
      <span class="intro">亞人醬有話要說 04</span>
    </div>
    <div class="centerItemE">
      <img src="assets/img/konosubaC.jpg"><br />
      <span class="intro">為美好的世界獻上祝福 08</span>
    </div>
  </div>
</div>
